*.pyc
__pycache__/
build/
dist/
nbsphinx.egg-info/
.ipynb_checkpoints/
.python-version
.vscode
doc/_build
doc/gallery/a-local-file.png
/theme_comparison/
/include-in-latex/_build/
/include-in-latex/pygmentize.py.tex
/include-in-latex/latexmkrc.tex
