ipykernel
ipython!=8.7.0  # see https://github.com/spatialaudio/nbsphinx/issues/687
numpy
matplotlib
pandas
sphinxcontrib-bibtex>=2.1
sphinxcontrib-svg2pdfconverter
ipywidgets
sphinx-gallery
jupytext
sphinx-last-updated-by-git
sphinx-codeautolink
