name: Build HTML on macOS
on: [push, pull_request]
env:
  PYTHONWARNINGS: error
  PIP: python -m pip
  SPHINX: python -m sphinx -W --keep-going --color
jobs:
  html-macos:
    runs-on: macos-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install pandoc
      run: |
        brew install pandoc
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3
    - name: Double-check Python version
      run: |
        python --version
    - name: Install Python package
      env:
        # DeprecationWarning: Unimplemented abstract methods {'locate_file'}
        # https://github.com/pypa/pip/issues/11684
        PYTHONWARNINGS: error,default::DeprecationWarning
      run: |
        $PIP install .
    - name: Install docs dependencies
      env:
        # DeprecationWarning: Unimplemented abstract methods {'locate_file'}
        # https://github.com/pypa/pip/issues/11684
        PYTHONWARNINGS: error,default::DeprecationWarning
      run: |
        $PIP install -r doc/requirements.txt
    - name: Build HTML
      env:
        # There is a weird warning from jupyter_core (https://github.com/jupyter/jupyter_core/issues/398)
        # RemovedInSphinx10Warning: 'sphinx.util.import_object' is deprecated
        # https://github.com/sphinx-doc/sphinx/issues/13083
        PYTHONWARNINGS: error,default::DeprecationWarning,default:'sphinx.util.import_object'
      run: |
        $SPHINX doc/ _build/html/
